* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}

.container {
    height: 100vh;
    width: 100%;
}

.top-bar {
    height: 10vh;
    width: calc(100% - 200px);
    background-color: rgba(8,11,18,255);
    text-align: right;
    line-height: 10vh;
}

.main-container {
    height: 90vh;
    width: 100%;
    background-color: lightseagreen;
}

.main-section {
    height: 80vh;
    width: calc(100% - 200px);
    background-color: lightgreen;
}

.nav-bar {
    height: 100%;
    width: 200px;
    background-color: black;
    color: white;
}

.button-upgrade {
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    border: 1px solid white;
    color: white;
    background-color: rgba(8,11,18,255);
    border-radius: 15px;
    padding: 7px 35px;
}

.fa-plus-square {
    display: inline-block;
    height: 25px;
    width: 25px;
    color: white;
}

.nav-bar img {
    width: 25px;
    vertical-align: middle;
}

.user-img {
    
}

.footer-container {
    height: 10vh;
    width: 100%;
    background-color: violet;   
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}