* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
}

.top-bar {
    height: 10vh;
    width: 80%;
    background-color: rgba(8,11,18,255);
    text-align: right;
    line-height: 10vh;
}

.main-container {
    height: 90vh;
    background-color: lightseagreen;
}

.nav-bar {
    height: 100%;
    width: 20%;
    background-color: crimson;
}

.main-section {
    height: 80vh;
    width: 80%;
    background-color: lightgreen;
}

.button-upgrade {
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    border: 1px solid white;
    color: white;
    background-color: rgba(8,11,18,255);
    border-radius: 15px;
    padding: 7px 35px;
}

.footer-container {
    height: 10vh;
    width: 100%;
    background-color: violet;   
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}